@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to ABC Student Management System</h2>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <img src="https://www.vidyalayaschoolsoftware.com/webassets/images/call_action.svg"
        width=100% />
    </div>
    <div class="col-lg-6 col-md-12 text-center">
        <h3>
            A Student Management System (SMS) is a software application designed to streamline the management of student-related data within educational institutions. It serves as a centralized platform to handle various aspects of student information, academic records, and administrative tasks.

        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <h3>
            A Student Management System contributes to the efficiency and organization of educational institutions, allowing them to focus on providing quality education while automating routine administrative tasks. It also enhances communication between stakeholders and provides valuable insights for academic planning and improvement.
        </h3>
    </div>
    <div class="col-lg-6 col-md-12">
        <img src="https://www.vidyalayaschoolsoftware.com/webassets/images/school_software_1.png" />
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div>
            <h4>About Us</h4>
            <p>Your company description goes here.</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div>
            <h4>Contact Information</h4>
            <p>Email: contact@example.com</p>
            <p>Phone: (123) 456-7890</p>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div>
            <h4>Follow Us</h4>
            <p>Connect with us on social media:</p>
            <a href="#" target="_blank">Facebook</a> |
            <a href="#" target="_blank">Twitter</a> |
            <a href="#" target="_blank">Instagram</a>
        </div>
    </div>
</div>

